<div class=" row">
  <div class=" col-md-6 pr-md-1">
    <div class=" form-group">
      <label> Organization </label>
      <input
        name="organozation"
        [(ngModel)]="datigeneralicontatto.organization"
        class=" form-control"
        disabled=""
        placeholder="Company"
        type="text"
        value="Creative Code Inc."
      />
    </div>
  </div>
  <div class=" col-md-6 pr-md-1">
    <div class=" form-group">
      <label> Org Name </label>
      <input
        name="orgname"
        [(ngModel)]="datigeneralicontatto.orgname"
        class=" form-control"
        disabled=""
        placeholder="Company"
        type="text"
        value="Creative Code Inc."
      />
    </div>
  </div>
</div>
<div class=" row">
  <div class=" col-md-6 pr-md-1">
    <div class=" form-group">
      <label> Org Id </label>
      <input
        name="orgid"
        [(ngModel)]="datigeneralicontatto.orgid"
        class=" form-control"
        disabled=""
        placeholder="Company"
        type="text"
        value="Creative Code Inc."
      />
    </div>
  </div>
  <div class=" col-md-6 pr-md-1">
    <div class=" form-group">
      <label> Ip </label>
      <input
        name="ip"
        [(ngModel)]="datigeneralicontatto.ip"
        class=" form-control"
        disabled=""
        placeholder="Company"
        type="text"
        value="Creative Code Inc."
      />
    </div>
  </div>
</div>
<div class=" row">
  <div class=" col-md-6 pr-md-1">
    <div class=" form-group">
      <label> Mpp Tracking </label>
      <input
        name="mpp"
        [(ngModel)]="datigeneralicontatto.mpp_tracking"
        class=" form-control"
        disabled=""
        placeholder="Company"
        type="text"
        value="Creative Code Inc."
      />
    </div>
  </div>
  <div class=" col-md-6 pr-md-1">
    <div class=" form-group">
      <label> Id </label>
      <input
        name="id"
        [(ngModel)]="datigeneralicontatto.id"
        class=" form-control"
        disabled=""
        placeholder="Company"
        type="text"
        value="Creative Code Inc."
      />
    </div>
  </div>
</div>

