<div class="content">

      <div class="row">
        <div class=" col-md-6">
          <div class=" card card-user">
            <div class=" card-body">
              <p class=" card-text"></p>
          <app-profilocontatto></app-profilocontatto>
            </div>
            <div class="card-footer ">
            <app-luoghicontatto></app-luoghicontatto>
            </div>
          </div>
        </div>


        <div class=" col-md-6">
          <div class=" card">
            <div class=" card-header"><h5 class=" title">Dati generali</h5></div>
            <div class=" card-body">
              <form>
        <app-datigeneralicontatto></app-datigeneralicontatto>
              </form>
            </div>
          </div>
        </div>
  </div>

   <app-attivitacontatto></app-attivitacontatto>


</div>


