<div class="content">
  <div class="row">
    <div class=" col-md-4">
    <app-numeroacquisti></app-numeroacquisti>
    </div>
    <div class=" col-md-4">
      <app-numerocontatti></app-numerocontatti>
    </div>
    <div class=" col-md-4">
      <app-revenue></app-revenue>
    </div>
  </div>

  <h1>Attività svolte da chi ha comprato</h1>
  <div class=" row">
    <div class=" col-md-11">
      <div class=" card card-chart">
        <div class=" card-header">
        <app-attivitapiusvolte></app-attivitapiusvolte>
        </div>
      </div>
    </div>
  </div>
  <h1>Contatti a cui mancano le attività più importanti</h1>
  <div class=" row">
    <div class=" col-md-11">
      <div class=" card card-chart">
        <div class=" card-header">
          <app-tabellasuggerimenti></app-tabellasuggerimenti>
        </div>
      </div>
    </div>
  </div>

</div>




